<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Expedia Test Suite" data-provider-thread-count="3">

	<listeners>
		<listener class-name="extendReportListener.ExtentReporterNG" />
	</listeners>

	<test name="Chrome_Test">
	<parameter name="url" value="https://www.expedia.com"></parameter>
    <parameter name="browser" value="chrome"></parameter>
		<classes>
		  <class name="flight.Browser"></class>
		  <class name="flight.HomePage"></class>
		  <class name="flight.Book_card_info"></class>
		</classes>
	</test>
</suite>